.calendarContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
}

.generateButton {
    padding: var(--spacing-sm) var(--spacing-md);
    margin-bottom: var(--spacing-md);
    background-color: var(--color-primary);
    color: var(--font-color);
    border-radius: var(--radius-md);
    cursor: pointer;
    font-size: var(--font-size-lg);
}

.dayScheduleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--width-narrow-max);
    margin-bottom: var(--spacing-lg);
    border: 1px solid var(--color-border);
}