.goalItem {
  border-bottom: 1px solid var(--color-border);
  padding: var(--spacing-sm);
}

.goalItem[data-has-strategy="true"] {
   /* background-color: rgb(245, 255, 245);  */
}

.goalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goalHeaderButtonsContainer {
  display: flex;
  gap: var(--spacing-xs);
}

.goalHeaderButtonsContainer button {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-md);
  border-radius: var(--radius-sm);
  border-width: 1px;
  border-color: var(--color-border);
  border-style: solid;
  cursor: pointer;
}

.goalLink {
  color: rgb(74, 132, 130);
  text-decoration-color: black;
  text-decoration-style: solid;
}

.goalDescription {
  margin-bottom: var(--spacing-md);
  white-space: pre-wrap;
}

.generateStrategyButton {

}

.generateStrategyButton[data-has-strategy="true"] {
  background-color: green;
  color: white;
}

.createGoalButton {
  align-self: center;
  padding: var(--spacing-md) var(--spacing-lg);
  font-size: var(--font-size-lg);
  border-radius: var(--radius-sm);
  margin-bottom: var(--spacing-sm);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);
  padding: var(--spacing-lg);
  width: 100%;
  max-width: var(--width-modal-max);
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.modalContainer select,
.modalContainer button {
  width: fit-content;
}

.goalModalForm {
  display: flex;
  flex-direction: column;
}

.goalModalForm textarea,
.goalModalForm input[type="text"] {
  font: inherit;
  color: inherit;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-sm);
  font-size: var(--font-size-md);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
}

.goalModalForm textarea {
  resize: vertical;
  min-height: 8rem;
}

.goalModalButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}

.goalModalSaveButton {
  background-color: var(--color-primary);
}

.goalModalCancelButton {
}

.goalModalSaveButton,
.goalModalCancelButton {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-md);
}
