.navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: var(--spacing-md);
  box-sizing: border-box;
  /* border-right: 1px solid var(--color-border); */
}

.navLink {
  display: block;
  color: var(--font-color);
  /* text-decoration: none; */
  
  font-size: var(--font-size-lg);
}

.navLink[data-status="active"] {
  font-weight: bold;
}